# H1:Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
List commonly used languages
List commonly used libraries
Open Development Environment
Perform artimetic operations

In [8]:
languages = ['Paython','R','JS']
languages

['Paython', 'R', 'JS']

Some of the commonly used libraries used by Data Scientists include:

In [11]:
libraries = ['panda','numpy','matplotlib']
libraries

['panda', 'numpy', 'matplotlib']

markdown cell with a table of Data Science tools
|Data Science Tools|
-----------------
|Jupiter lab|
|R Studio|
|VS Code|

In [18]:
### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by diving by 60
hrs = 200/60
print(hrs)

3.3333333333333335

## H2 : Author
Rishu Jain